#app4{
     display: flex;
     justify-content: center;
     align-items: center;
}
@keyframes change {
    0%{
    background-color:green;
    }
    100%{
    background-color: red;
    }
}
#app4 .circle{
    border: 1px solid red;
    width: 30vw;
    height:30vw;
    border-radius: 50%;
      }
#app4 .circle.active{
    animation: change 1s infinite linear alternate
}    